{% load static %}
<div class="row mb-5">
    <div class="col-3">
      <div class="border w-100 mb-3" style="height: 150px">
        <img
        src="{% static 'img/img.jpg' %}"
        class="img-fluid rounded-start"
        alt="avatar"
        style="width:196.5px;height:150px;object-fit: cover"
        />
      </div>
      <div class="d-flex justify-content-center gap-2" style="align-items: center;">
        <input class="btn btn-dark" type="button" value="Like">
        <label style="height: 38px; display: inline-flex; align-items: center;
         justify-content: center; gap: 3px; margin-right: 2px; margin-left: 3px; padding-right: 2px;">
          5
        </label>
        <!-- <input class="btn btn-dark" type="button" value="Like"> -->
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <h1>{{ item.title }}</h1>
      </div>
      <div class="row">
        <p style="margin-top: 3px; word-wrap: break-word;">
            {{ item.text }}
        </p>
      </div>
      <div class="row">
        <div class="col-8">
          <span>Tags</span>
          <a href="{%url 'tag' tag_name="black-jack"%}">black-jack</a>
          <a href="{%url 'tag' tag_name="bender"%}">bender</a>
        </div>
      </div>
    </div>
  </div>