{% extends "layouts/base.html" %}
{% load static %}

{% block title %}
<title>Hot questions</title>
{% endblock%}

{% block content %}
<div class="col-8" style="margin-right: 30px;">
  <div class="d-flex align-items-center gap-4">
    <h1>Hot Questions</h1>
    <a href="{% url 'index' %}">New Questions</a>
  </div>
    {% for question in questions %}

        {% include "layouts/question.html" with item=question %}

    {% endfor %}

{% include "layouts/pagination.html" with page_obj=questions %}
</div>
{% endblock %}