{% extends "layouts/base.html" %}
{% load static %}

{% block title %}
<title>Log in</title>
{% endblock%}

{% block content%}
          <div class="col-8" style="margin-right: 30px;">
            <h1>Log in</h1>
            <p style="color: red">Sorry, wrong password</p>
            <div class="row g-0 mb-3">
                <div class="col-3 p-2">
                  <span>Login</span>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <textarea class="form-control" rows="1" style="resize: none;"></textarea>
                    </div>
                </div>
              </div>
              <div class="row g-0 mb-3">
                <div class="col-3 p-2">
                  <span>Email address</span>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <textarea class="form-control" rows="1" style="resize: none;"></textarea>
                    </div>
                </div>
              </div>
              <div class="d-flex gap-2">
                <input class="btn btn-dark" type="button" value="Log in" onclick="location.href='{% url 'index' %}'">
                <a href="{% url 'signup' %}" style="display: inline-flex; align-items: center; justify-content: center;">Create new account</a>
              </div>
          </div>
{% endblock %}